<div class="col-md-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Blue Sisters by Coco Mellors</h5>
            <p class="card-body">Description...</p>
            <a href="#" class="btn btn-primary">Open</a>
        </div>
    </div>
</div>