@page
@model IndexModel
@{
    ViewData["Title"] = "Book Keeper";
}

<div class="text-center">
    <h1 class="display-4">Book Keeper</h1>

    <table class="table">
        <thead>
            <tr>
                <td>#</td>
                <td class="text-start">Title</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>browse</td>
                <td class="text-start">Blue Sisters by Coco Mellors</td>
            </tr>
            <tr>
                <td>browse</td>
                <td class="text-start">The Art of Longevity by Rod Perez</td>
            </tr>
            <tr>
                <td>browse</td>
                <td class="text-start">Trippy by Ernesto Londono</td>
            </tr>
        </tbody>
    </table>
</div>
