@page
@{
    ViewData["Title"] = "Book Keeper";
    @model IndexModel
}

<h1 class="text-center">Book Keeper</h1>

<div class="container">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 g-3">
        @foreach (var book in Model.Books)
        {
            <partial name="@PartialNames.BookCardPartial" model="@book" />
        }
    </div>
</div>
