@page
@{
    ViewData["Title"] = "Book Keeper";
    @model IndexModel
}

<div class="container">
    <h1 class="text-center">Book Keeper</h1>

    <div class="row my-3">
        @for (int i = 0; i < 4; i++)
        {
            <partial name="@PartialNames.BookCardPartial" />
        }
    </div>
    <div class="row my-3">
        @for (int i = 0; i < 4; i++)
        {
            <partial name="@PartialNames.BookCardPartial" />
        }
    </div>
</div>
