@page
@{
    ViewData["Title"] = "Admin - Create Book";
    @model CreateBookModel
}

@section Scripts 
{
    <partial name="@PartialNames.ValidationScripts" />
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form method="post">
                <div class="mb-3">
                    <label asp-for="BookModel.Title" class="form-label"></label>
                    <input asp-for="BookModel.Title" class="form-control" />
                    <span asp-validation-for="BookModel.Title"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="BookModel.Description" class="form-label"></label>
                    <textarea asp-for="BookModel.Description" 
                        class="form-control" 
                        rows="3">
                    </textarea>
                    <span asp-validation-for="BookModel.Description"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="BookModel.Authors" class="form-label"></label>
                    <input asp-for="BookModel.Authors" class="form-control" />
                    <span asp-validation-for="BookModel.Authors"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="BookModel.Price" class="form-label"></label>
                    <div class="input-group">
                        <span class="input-group-text">&#36;</span>
                        <input asp-for="BookModel.Price" class="form-control" type="number" />
                    </div>
                    <span asp-validation-for="BookModel.Price"></span>
                </div>
                <input type="submit" value="Save" class="btn btn-primary" />
            </form>
        </div>
    </div>
</div>