@page
@{
    ViewData["Title"] = "Admin";
    @model BookKeeper.UI.Pages.Admin.IndexModel
}

<div>
    <h2>Books</h2>
    <ul>
        <li><a href="./Admin/CreateBook">Create</a></li>
    </ul>
</div>
